go 1.22.4

use (
	./day7-cache
	./day7-rpc
	./day7-web
	./error-hell
	./function-options
	./generics
	./go-decorator
	./go-pipeline
	./go-reverse-proxy
	./go-visitor
	./go-with-kafka
	./http-io-timeout
	./ioc-dip
	./map-reduce
	./program-to-interface
	./unsafe-pointer
)
