go 1.22.4

use (
	./day7-cache
	./day7-rpc
	./day7-web
	./error-hell
	./function-options
	./go-decorator
	./go-pipeline
	./go-visitor
	./go-with-kafka
	./ioc-dip
	./map-reduce
	./program-to-interface
)
